body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
  .center {
    display: block;
    margin: auto;
  }
  #header-container {
    height: 100%;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000;
  color: white;
  padding: 50px;
  grid-column: 1 / 4;
}


  
  #header h1 {
    margin: 0;
  }
  
  #content {
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / 4;
  }
  
  #left-panel {
    background-color: #f6f3f3;
    color: #020202;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
  }
  .portadas {
    width: 150px;
    height: 150px;
  }
  #right-panel {
    background-image: url('../Imagenes/r.png');
    color: #f7f7f7;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
  }

/* Estilo para la información desplegable */
.contenido-desplegable h2 {
  cursor: pointer;
}

/* Esconde el contenido del div */
#tipos {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}

/* Muestra el contenido cuando el checkbox está marcado */
#toggle-tipos:checked ~ #tipos {
  max-height: 5500px;
  transition: max-height 0.3s ease-in-out;
}


.imagenYtexto{
  width: 50%;
  float: right;
  margin-right: 20px;
}

.imagenYtexto img {
  width: 100%;
  height: auto;
}


.imagenYtexto2{
  width: 92.5%;
  float: right;
  margin-right: 5px;
}

.imagenYtexto2 img {
  width: 100%;
  height: auto;
}
.pf {
  width: 450px;
  height: 400px;
}
.pff {
  width: 50px;
  height: 50px;
}


.play-button {
  background-color: #e92222;
  border: none;
  border-radius: 30%;
  color: #fff;
  cursor: pointer;
  height: 30px;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  width: 30px;
  transition: transform 0.2s ease-in-out;
}

.play-icon {
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  display: block;
  height: 0;
  left: 5px;
  position: absolute;
  top: 10px;
  transform: rotate(48deg);
  width: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
